AAA
*logs*


.env*
!.env.example

*.idea*
-
*__pycache__*

.vite

*towards-web-a11y-paper*


# Training outputs

*graphs_multi*
*models*


# *www.airindia*
# *www.impot*


**node_modules**
*3_WCAG_Solver*
*gnn_batch_100*
*ignore*
*PLANS*